################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GPTP/.vs/GPTP
/GPTP/Debug
