################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GPTP/.vs/GPTP
/GPTP/Debug

/tests/out
/.superpowers

/tools/ManifoldEditor/**/bin/
/tools/ManifoldEditor/**/obj/

# Left by a Visual Studio solution upgrade.
/tools/ManifoldEditor/Backup/
/tools/ManifoldEditor/UpgradeLog*.htm
